[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
v = {editable = true,version = "*"}
flask-shell-ipython = "*"
flask-debugtoolbar = "*"
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-caching = "*"
pymongo = "==3.5.1"
redis = "*"
flask-login = "*"
flask-avatars = "*"

[requires]
python_version = "3.6"
