[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
watchdog = "*"
v = {editable = true,version = "*"}
flask-shell-ipython = "*"
faker = "*"
autopep8 = "*"
rope = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-caching = "*"
pymongo = "==3.5.1"
redis = "*"
flask-cors = "*"
flask-restful = "*"
flask-httpauth = "*"
requests = "*"
flask-redis = "*"
flask-apscheduler = "*"
fake-useragent = "*"
sendgrid = "==5.6.0"
pillow = "*"
flask-avatars = "*"

[requires]
python_version = "3.6"
