[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
watchdog = "*"
v = {editable = true,version = "*"}
flask-shell-ipython = "*"
faker = "*"
autopep8 = "*"
rope = "*"
flake8 = "*"
coverage = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-caching = "*"
redis = "*"
flask-cors = "*"
flask-restful = "*"
flask-httpauth = "*"
flask-redis = "*"
sendgrid = "==5.6.0"
gunicorn = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
click = "*"
tqdm = "*"
sentry-sdk = {extras = ["flask"],version = "==0.14.1"}
celery = "*"
elasticsearch = "*"
hashids = "*"
pre-commit = "*"
pandas = "*"
ipykernel = "*"
flask-avatars = "*"

[requires]
python_version = "3.6"
